<%= form_for @list, :url => user_lists_path do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= select_tag :ingredients, options_for_select(@titles) %>
  </div>
  </br></br>

  <%= f.link_to_add "add ingredient", :amounts %>

  <div class="send_form actions">
    <%= f.submit :class => "button" %>
  </div>

<% end %>
