<%= nested_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "text_field" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :class => "text_field" %>
  </div>
  
  <% f.fields_for :steps do |builder| %>  
  <div class="field">  
    <%= builder.label :instructions, "Step" %>
    <%= builder.text_area :instructions, :class => "text_field" %>  
    <%= builder.link_to_remove "remove" %>  
  </div>
  <% end %>
  
  </br>
  
  <%= f.link_to_add "add step", :steps %>
  
  </br>
  
  <div class="send_form actions">
    <%= f.submit %>
  </div>
<% end %>
