<div id="page">
			
  <div class="top"></div>

    <div class="content">
		
      <div class="header page">
  	    <h1><%= @user.nickname %> recipes</h1>
      </div>

      <div id="" class="padding">

        <table>

        <% @recipes.each do |recipe| %>
        <tr>
          <td><h3 class="recipe_list"><%= link_to recipe.title, user_recipe_path(:user_id => @user.cached_slug, :id => recipe.cached_slug) %></td>
          <% if current_user %>
            <td><%= link_to 'Edit', edit_user_recipe_path(:user_id => current_user.cached_slug, :id => recipe.cached_slug) %></td>
            <td><%= link_to 'Destroy', user_recipe_path(:user_id => current_user.cached_slug, :id => recipe.cached_slug), :confirm => 'Are you sure?', :method => :delete %></h3></td>
          <% end %>
        </tr>
        <% end %>

        </table>

        <br />

        <% if current_user %>
          <%= link_to 'New Recipe', new_user_recipe_path(:user_id => current_user.cached_slug) %>
        <% end %>
  
      </div>

      <div class="clear"></div>
  
    </div>
  
    <div class="bottom"></div>

</div>
