<div id="page">
			
<div class="top"></div>

  <div class="content">
		
    <div class="header page">
	    <h1>Show recipe</h1>
      <!-- <ul>
        <li class="active"><a href="html_elements.html">HTML Elements</a></li>
        <li><a href="2_column.html">2 Column</a></li>
      </ul> -->
    </div>

    <div id="" class="padding">
  
    <p id="notice"><%= notice %></p>

    <p>
      <b>Title:</b>
      <%= @recipe.title %>
    </p>
    <p>
      <b>Description:</b>
      <%= @recipe.description %>
    </p>
    <p>
      <b>Instructions:</b>
      <%= @recipe.instructions %>
    </p>
    <p>
      <b>Amounts:</b>
      </br>
      <% @recipe.amounts.each do |amount| %>
        <%= amount.quantity %> <%= amount.size %></br>
      <% end %>
    </p>
    <p>
      <b>Ingredients:</b>
      </br>
      <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %></br>
      <% end %>
    </p>

    <% if current_user %>
      <%= link_to 'Edit', edit_user_recipe_path(@recipe) %> |
    <% end %>

    <%= link_to 'Back', user_recipes_path %>

    </div>

    <div class="clear"></div>

  </div>

  <div class="bottom"></div>

</div>
