<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @recipe.string %>
</p>

<p>
  <b>String:</b>
  <%= @recipe.string %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
