<% content_for :page_title do %>
  Recipe
<% end %>

<div id="" class="padding">
  
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Steps:</b>
  </br>
  <% @recipe.steps.each do |step| %>
    <%= step.instructions %></br>
  <% end %>
</p>

<p>
  <b>Amounts:</b>
  </br>
  <% @recipe.amounts.each do |amount| %>
    <%= amount.quantity %> <%= amount.size %></br>
  <% end %>
</p>

<p>
  <b>Ingredients:</b>
  </br>
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name %></br>
  <% end %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>

<%= link_to 'Back', recipes_path %>

</div>